<div class="card mb-3" style="border-left: 6px solid #ffc200; ">

<div class="card-header"><b>Suggestions for teachers</b></div>

  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">3 exercises more difficulty (DEX)</h6>
    <ul class="fa-ul">
        {{#statements_dex_first3}}
          <li><span class="fa-li"><i class="fa fa-address-card-o"></i></span><p class="card-text"> {{{.}}} </p></li>
        {{/statements_dex_first3}}
    </ul>

    <h6 class="card-subtitle mb-2 text-muted">3 exercises more easy</h6>
    <ul class="fa-ul">
        {{#statements_dex_last3}}
          <li><span class="fa-li"><i class="fa fa-ambulance"></i></span><p class="card-text"> {{{.}}} </p></li>
        {{/statements_dex_last3}}
    </ul>
  </div>

  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">3 exercises with syntax problem (MDES)</h6>
    <ul class="fa-ul">
        <li><span class="fa-li"><i class="fa fa-ambulance"></i></span><p class="card-text">Wearable smart band</p></li>
        <li><span class="fa-li"><i class="fa fa-address-card-o"></i></span><p class="card-text">control smartphone with simple hand gesture</p></li>
    </ul>
    <h6 class="card-subtitle mb-2 text-muted">3 exercises with no syntax problem</h6>
    <ul class="fa-ul">
        <li><span class="fa-li"><i class="fa fa-ambulance"></i></span><p class="card-text">Wearable smart band</p></li>
        <li><span class="fa-li"><i class="fa fa-address-card-o"></i></span><p class="card-text">control smartphone with simple hand gesture</p></li>
    </ul>
  </div>

  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">3 exercises that require some attention regarding their description and complexity (MTES)</h6>
    <ul class="fa-ul">
        <li><span class="fa-li"><i class="fa fa-ambulance"></i></span><p class="card-text">Wearable smart band</p></li>
        <li><span class="fa-li"><i class="fa fa-address-card-o"></i></span><p class="card-text">control smartphone with simple hand gesture</p></li>
    </ul>
    <h6 class="card-subtitle mb-2 text-muted">3 exercises that not require some attention regarding their description and complexity</h6>
    <ul class="fa-ul">
        <li><span class="fa-li"><i class="fa fa-ambulance"></i></span><p class="card-text">Wearable smart band</p></li>
        <li><span class="fa-li"><i class="fa fa-address-card-o"></i></span><p class="card-text">control smartphone with simple hand gesture</p></li>
    </ul>
  </div>

</div>
</div>

<div id="dexgraph" style=""></div>
<div id="mdesgraph" style=""></div>
<div id="mtesgraph" style=""></div>

Select a course:

{{{ form }}}
{{{ table }}}


<div class="card">
  <div class="card-header">
    Some Data
  </div>
  <div class="card-body">
      <div>
        <p>Quantidade de tarefas moodle com Itarefas: {{number_of_tasks}}</p>
      </div>

      <div>
        <p>Quantidade de exerícicios do Itarefas: {{number_of_statements}} </p>
      </div>

      <div>
        <p>Quantidade de exerícicios do Itarefas com submissões: {{statements_with_submissions_total}} </p>
      </div>
  </div>
</div>

<script src="https://cdn.plot.ly/plotly-2.16.4.min.js"></script>

<script>

  // Gráfico do DEX
  var data = [
    {
      x: [ {{{ statements_dex }}} ],
      y: [ {{ dex_normalized_avg }} ],
      //text: [ {{{ statements }}} ],
      type: 'bar'
    }
  ];

  var layout = {
    title: 'Exercícios dificeis',
    showlegend: false,

    xaxis: {
      tickangle: -45
    },

    yaxis: {
      title: 'DEX',
      zeroline: false,
      gridwidth: 2
    },
    bargap :0.05
  };

  Grafico = document.getElementById('dexgraph');
  Plotly.newPlot(Grafico, data, layout);

  // Gráfico do MDES
  var data = [
    {
      x: [ {{{ statements_mdes }}} ],
      y: [ {{ mdes_normalized_avg }} ],
      //text: [ {{{ statements }}} ],
      type: 'bar'
    }
  ];

  var layout = {
    title: 'mdes_normalized_avg',
    showlegend: false,

    xaxis: {
      tickangle: -45
    },

    yaxis: {
      title: 'mdes',
      zeroline: false,
      gridwidth: 2
    },
    bargap :0.05
  };

  Grafico = document.getElementById('mdesgraph');
  Plotly.newPlot(Grafico, data, layout);

  // Gráfico do MTES
  var data = [
    {
      x: [ {{{ statements_mtes }}} ],
      y: [ {{ mtes_normalized_avg }} ],
      //text: [ {{{ statements }}} ],
      type: 'bar'
    }
  ];

  var layout = {
    title: 'mtes_normalized_avg',
    showlegend: false,

    xaxis: {
      tickangle: -45
    },

    yaxis: {
      title: 'mtes',
      zeroline: false,
      gridwidth: 2
    },
    bargap :0.05
  };

  Grafico = document.getElementById('mtesgraph');
  Plotly.newPlot(Grafico, data, layout);

</script>

