<div>
  <p>Quantidade de tarefas moodle com Itarefas: {{number_of_tasks}}</p>
</div>

<div>
  <p>Quantidade de exerícicios do Itarefas: {{number_of_statements}} </p>
</div>

<div>
  <p>Quantidade de exerícicios do Itarefas com submissões: {{statements_with_submissions_total}} </p>
</div>

Select a course:
{{{ form }}}

{{{ table }}}

