Select a course:

{{{ form }}}

<br>

<div class="card mb-3" id="accordion" style="border-left: 6px solid #ffc200; ">

  <div class="card-header"><b>Suggestions for teachers</b></div>
  
    <div class="card-body">

      <h4 class="card-subtitle mb-2 text-muted">Highest and lowest statements based on metric Average Submission Grade </h4>
      <div class="row">
        <div class="col-sm">
          {{#statements_dex_first3}}
            <div class="card">
              <div class="card-header" id="heading{{{statementid}}}">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{{statementid}}}" aria-expanded="false" aria-controls="collapse{{{statementid}}}">
                    {{{name}}}
                  </button>
                </h5>
              </div>
              <div id="collapse{{{statementid}}}" aria-labelledby="heading{{{statementid}}}" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  {{{proposition}}}
                </div>
              </div>
            </div>
          {{/statements_dex_first3}}
        </div>

        <div class="col-sm">
          {{#statements_dex_last3}}
            <div class="card">
              <div class="card-header" id="heading{{{statementid}}}">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{{statementid}}}" aria-expanded="false" aria-controls="collapse{{{statementid}}}">
                    {{{name}}}
                  </button>
                </h5>
              </div>
              <div id="collapse{{{statementid}}}" aria-labelledby="heading{{{statementid}}}" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  {{{proposition}}}
                </div>
              </div>
            </div>
          {{/statements_dex_last3}}
        </div>
      </div>


      

      <br>


    </div>

    <hr>
    
    <div class="card-body">
        <h4 class="card-subtitle mb-2 text-muted">Exercises that require some attention regarding their description</h4>
        <div id="accordion">
          {{#statements_mtes_first3}}
            <div class="card">
              <div class="card-header" id="heading{{{statementid}}}">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{{statementid}}}" aria-expanded="false" aria-controls="collapse{{{statementid}}}">
                    {{{name}}}
                  </button>
                </h5>
              </div>
              <div id="collapse{{{statementid}}}" aria-labelledby="heading{{{statementid}}}" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  {{{proposition}}}
                </div>
              </div>
            </div>
          {{/statements_mtes_first3}}
        </div>
        <br>
        <h4 class="card-subtitle mb-2 text-muted">Exercises with understandable description</h4>
        <div id="accordion">
          {{#statements_mtes_last3}}
            <div class="card">
              <div class="card-header" id="heading{{{statementid}}}">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{{statementid}}}" aria-expanded="false" aria-controls="collapse{{{statementid}}}">
                    {{{name}}}
                  </button>
                </h5>
              </div>
              <div id="collapse{{{statementid}}}" aria-labelledby="heading{{{statementid}}}" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  {{{proposition}}}
                </div>
              </div>
            </div>
          {{/statements_mtes_last3}}
        </div>
    </div>

    <hr>
    
    <div class="card-body">
      <h4 class="card-subtitle mb-2 text-muted">Wrong assumptions about the proposed exercise</h4>
      <div id="accordion">
        {{#statements_mdes_first3}}
          <div class="card">
            <div class="card-header" id="heading{{{statementid}}}">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{{statementid}}}" aria-expanded="false" aria-controls="collapse{{{statementid}}}">
                  {{{name}}}
                </button>
              </h5>
            </div>
            <div id="collapse{{{statementid}}}" aria-labelledby="heading{{{statementid}}}" class="collapse" data-parent="#accordion">
              <div class="card-body">
                {{{proposition}}}
              </div>
            </div>
          </div>
        {{/statements_mdes_first3}}
      </div>
      <br>
      <h4 class="card-subtitle mb-2 text-muted">No problem with assumptions about the proposed exercise</h4>
      <div id="accordion">
        {{#statements_mdes_last3}}
          <div class="card">
            <div class="card-header" id="heading{{{statementid}}}">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{{statementid}}}" aria-expanded="false" aria-controls="collapse{{{statementid}}}">
                  {{{name}}}
                </button>
              </h5>
            </div>
            <div id="collapse{{{statementid}}}" aria-labelledby="heading{{{statementid}}}" class="collapse" data-parent="#accordion">
              <div class="card-body">
                {{{proposition}}}
              </div>
            </div>
          </div>
        {{/statements_mdes_last3}}
      </div>
    </div>

  </div>

</div>

<div id="dexgraph" style=""></div><br><br>
<div id="mtesgraph" style=""></div><br><br>
<div id="mdesgraph" style=""></div><br>

{{{ table }}}

<div class="card">
  <div class="card-header">
    Some Data
  </div>
  <div class="card-body">
      <div>
        <p>Quantidade de tarefas moodle com Itarefas: {{number_of_tasks}}</p>
      </div>

      <div>
        <p>Quantidade de exerícicios do Itarefas: {{number_of_statements}} </p>
      </div>

      <div>
        <p>Quantidade de exerícicios do Itarefas com submissões: {{statements_with_submissions_total}} </p>
      </div>
  </div>
</div>

<script src="https://cdn.plot.ly/plotly-2.16.4.min.js"></script>

<script>

  // Gráfico do DEX
  var data = [
    {
      x: [ {{{ statements_dex }}} ],
      y: [ {{ dex_normalized_avg }} ],
      //text: [ {{{ statements }}} ],
      type: 'bar'
    }
  ];

  var layout = {
    title: 'Exercise difficulty (left are more easy than the ones to the right)',
    showlegend: false,

    xaxis: {
      tickangle: -45
    },

    yaxis: {
      title: 'Difficulty level',
      zeroline: false,
      gridwidth: 2
    },
    bargap :0.05
  };

  Grafico = document.getElementById('dexgraph');
  Plotly.newPlot(Grafico, data, layout);

  // Gráfico do MTES
  var data = [
    {
      x: [ {{{ statements_mtes }}} ],
      y: [ {{ mtes_normalized_avg }} ],
      //text: [ {{{ statements }}} ],
      type: 'bar'
    }
  ];

  var layout = {
    title: 'Exercises that require some attention regarding their description (left are less understandable than the ones to the right)',
    showlegend: false,

    xaxis: {
      tickangle: -45
    },

    yaxis: {
      title: 'understanding level',
      zeroline: false,
      gridwidth: 2
    },
    bargap :0.05
  };

  Grafico = document.getElementById('mtesgraph');
  Plotly.newPlot(Grafico, data, layout);

  // Gráfico do MDES
  var data = [
    {
      x: [ {{{ statements_mdes }}} ],
      y: [ {{ mdes_normalized_avg }} ],
      //text: [ {{{ statements }}} ],
      type: 'bar'
    }
  ];

  var layout = {
    title: 'Wrong assumptions about the proposed exercise',
    showlegend: false,

    xaxis: {
      tickangle: -45
    },

    yaxis: {
      title: 'mdes',
      zeroline: false,
      gridwidth: 2
    },
    bargap :0.05
  };

  Grafico = document.getElementById('mdesgraph');
  Plotly.newPlot(Grafico, data, layout);

</script>

