Select a course:

{{{ form }}}

<br>

<div class="card mb-3" id="accordion" style="border-left: 6px solid #ffc200; ">

  <div class="card-header"><b>Metrics</b></div>
  <div class="card-body">
    {{> block_peta/partials/dex }}
    <hr>
    {{> block_peta/partials/mtes }}
    <hr>
    {{> block_peta/partials/mdes }}
  </div>

</div>

<div id="dexgraph" style=""></div><br><br>
<div id="mtesgraph" style=""></div><br><br>
<div id="mdesgraph" style=""></div><br>

{{{ table }}}

<div class="card">
  <div class="card-header">
    Some Data
  </div>
  <div class="card-body">
      <div>
        <p>Quantidade de tarefas moodle com Itarefas: {{number_of_tasks}}</p>
      </div>

      <div>
        <p>Quantidade de exerícicios do Itarefas: {{number_of_statements}} </p>
      </div>

      <div>
        <p>Quantidade de exerícicios do Itarefas com submissões: {{statements_with_submissions_total}} </p>
      </div>
  </div>
</div>

<script src="https://cdn.plot.ly/plotly-2.16.4.min.js"></script>

<script>

  // Gráfico do DEX
  var data = [
    {
      x: [ {{{ statements_dex }}} ],
      y: [ {{ dex_normalized_avg }} ],
      //text: [ {{{ statements }}} ],
      type: 'bar'
    }
  ];

  var layout = {
    title: 'Average grades, penalized by time and by code changes (AG)',
    showlegend: false,

    xaxis: {
      tickangle: -45
    },

    yaxis: {
      title: 'AG level',
      zeroline: false,
      gridwidth: 2
    },
    bargap :0.05
  };

  Grafico = document.getElementById('dexgraph');
  Plotly.newPlot(Grafico, data, layout);

  // Gráfico do MTES
  var data = [
    {
      x: [ {{{ statements_mtes }}} ],
      y: [ {{ mtes_normalized_avg }} ],
      //text: [ {{{ statements }}} ],
      type: 'bar'
    }
  ];

  var layout = {
    title: 'Highest time between submissions (HT)',
    showlegend: false,

    xaxis: {
      tickangle: -45
    },

    yaxis: {
      title: 'HT level',
      zeroline: false,
      gridwidth: 2
    },
    bargap :0.05
  };

  Grafico = document.getElementById('mtesgraph');
  Plotly.newPlot(Grafico, data, layout);

  // Gráfico do MDES
  var data = [
    {
      x: [ {{{ statements_mdes }}} ],
      y: [ {{ mdes_normalized_avg }} ],
      //text: [ {{{ statements }}} ],
      type: 'bar'
    }
  ];

  var layout = {
    title: 'Highest code changing between submissions (HC)',
    showlegend: false,

    xaxis: {
      tickangle: -45
    },

    yaxis: {
      title: 'HC Level',
      zeroline: false,
      gridwidth: 2
    },
    bargap :0.05
  };

  Grafico = document.getElementById('mdesgraph');
  Plotly.newPlot(Grafico, data, layout);

</script>

