<div>
  <p>Quantidade de tarefas moodle com Itarefas: {{tasks}}</p>
</div>

<div>
  <p>Quantidade de exerícicios do Itarefas: {{statements}} </p>
</div>

<div>
  <p>Quantidade de exerícicios do Itarefas com submissões: {{statements_with_submissions_total}} </p>
</div>

{{{table}}}

