<div id="grafico" style=""></div>

{{{table}}}

<b>Observações:</b>
<ul>
    <li>Na tabela acima somente estudantes que submeteram mais que uma vez a tarefa aparecem</li>
</ul>

<script src="https://cdn.plot.ly/plotly-2.16.4.min.js"></script>

<script>

    var pontos = {

        x: [{{x}}], //[1, 2, 3, 4],
        y: [{{y}}], //[10, 11, 12, 13],
        mode: 'markers',
        text: [{{ grade_next }}],
        marker: {
            size: 8,
            color: [{{ grade_next }}],
            colorscale: [
              [0.000, "rgb(255, 0, 0)"],
              [0.5, "rgb(0,0,255)"],
              [1.000, "rgb(0,0,255)"]
            ],
        }
    };

    var data = [pontos];

    var layout = {
      showlegend: false,
      title: {
        text:'',
        font: {
          family: 'Courier New, monospace',
          size: 24
        },
        xref: 'paper',
        x: 0.05,
      },

      xaxis: {
        title: {
          text: 'Intervalo de tempo entre as tentativas (ln(segundos))',
          font: {
            family: 'Courier New, monospace',
            size: 18,
            color: '#7f7f7f'
          }
        },
      },

      yaxis: {
        title: {
          text: 'Differença no código submetido',
          font: {
            family: 'Courier New, monospace',
            size: 14,
            color: '#7f7f7f'
          }
        }
      },

      shapes: [
        {
          type: 'line',
          xref: 'x',
          yref: 'y',
          x0: 0,
          y0: {{intercept}},
          x1: {{max}},
          y1: {{intercept}}+({{coefficient}}*{{max}}),
          line: {
            color: 'rgb(55, 128, 191)',
            width: 3
          }
        },
      ],
      annotations: [
        {
          x: {{max}},
          y: {{intercept}}+({{coefficient}}*{{max}}),
          xref: 'x',
          yref: 'y',
          text: 'Coeficiente: ' + {{coefficient}},
          showarrow: true,
          arrowhead: 7,
          ax: 40,
          ay: 20
        },

        {
          x: 0,
          y: {{intercept}},
          xref: 'x',
          yref: 'y',
          text: 'Intercepto: ' + {{intercept}},
          showarrow: true,
          arrowhead: 7,
          ax: -60,
          ay: 0
        },
      ]
    };

    Grafico = document.getElementById('grafico');
    Plotly.newPlot(Grafico, data, layout);


</script>
